@font-face {
    font-family: 'CodeDemo-Light';
    src: url("../../fonts/CodeDemo-Light.otf");
    font-display: fallback;
}

@font-face {
    font-family: 'CodeDemo-Bold';
    font-weight: bold;
    src: url("../../fonts/CodeDemo-Bold.otf");
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("../../fonts/Poppins-Regular.otf")
}

