// media queries
$bp-small: 768px; // 768px
$bp-medium: 1024px; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

$mq-mobile: "(max-width: #{$bp-small})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-uwide: "(min-width: #{$bp-xxlarge}) and (max-height: 1080px)";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

#index {background-image: url(../../images/42271167_m.jpg)}
#about-us {background-image: url(../../images/79574096_m.jpg)}
#confirm {display: none}
#error {display: none}
#mobile {
    @media #{$mq-mobile} {
        display: flex;
        padding: 10px;
    }

    @media #{$mq-small} {
        
        display: none;
    }
}

#desktop {
    @media #{$mq-mobile} {
        display: none;
    }

    @media #{$mq-small} {
        
        display: flex;
        margin-bottom: 10px;
    }
}

#more-info-image {
    height: 100%;
    width: 100%;
    object-fit: cover;  
    // flex-grow: 2;#

    @media #{$mq-mobile} {
        max-height: 280px;
    }

    @media #{$mq-small} {
        
        max-height: 400px;
    }
}

.additional-container {

    @media #{$mq-small} {
        min-height: calc( 100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
}

.banner-container {
    height: calc(100vh - 125px);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;

    @media (max-width: 768px) {
        height: 50vh;
    }

}

.banner-container-2 {
    // height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;

    @media (max-width: 768px) {
        // height: 50vh;
    }
}

.banner-container-desktop-only {
    // height: 100vh;
    background-size: cover;
    background-position: center;
    // display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;

    @media #{$mq-mobile} {
        display: none;
    }

    @media #{$mq-small} {
        // height: 50vh;
        // display: "flex";
        display: none;
    }
}

.catalogue-button {
    margin: 10px;
    display: flex;
    justify-content: space-around;

    button {
        margin: 0px 10px;
    }
}

.catalogue-item-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    // align-content: flex-start;
    // padding: 10px;

    @media #{$mq-small} {
        flex-direction: row;
        // justify-content: space-between;
        align-items: flex-start;
        
    }

    .catalogue-image-container {
        min-width: 300px;
    }
}

.catalogue-download {
    // width: 450px;
    min-height: calc( 100vh - 100px);
    // display: flex;
    // flex-direction: column;
    // flex-grow: 1;
    // justify-content: flex-end;
    // flex-wrap: wrap;
    padding: 10px;

    @media #{$mq-small} {
        min-height: auto;
        // position: fixed; 
        width: 400px;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        background-color: #F4F5F5;
        // border-radius: 10px;
        align-self: center;
        justify-self: center;
        box-shadow: 10px 10px;


    }
}

.catalogue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 10px;
}


.catalogue-moreInfo {
        // padding: 10px;
        @media #{$mq-mobile} {
            min-height: calc( 100vh - 100px);
        }
    
        @media #{$mq-small} {
            // display: flex;
            // height: auto;
            // width: 750px;
            position: fixed; 
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #F4F5F5;
            box-shadow: 10px 10px;
        }
}

.catalogue-image {
    padding: 5px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

// .preview-image {
//     height: 280px;
//     width: 280px;
//     padding: 5px;
//     object-fit: cover;
// }

.catalogue-image-container {
    height: 280px;
    width: 200px;
}

.catalogue-item {
    // height: 400px;
    // height: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #33333320;

    @media #{$mq-mobile} {
        
    }
}

.catalogue-item-header {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.catalogue-description {
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    flex-grow: 1;
    // width: 500px;
    border-bottom: 1px solid grey;
}

.client-form {
    display: flex;
}

.content {
    display: none;
    // visibility: hidden;
    // height: 0;
    max-height: 0px;
    padding: 5px;
    z-index: -1;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: scroll;
    
    background-color: white;
    transition: max-height 0.2s linear;
}


.content-box {
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
}

.content-box-variable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 3vw 3vw;

    @media #{$mq-medium} {
        flex-direction: row;

        .box1 {
            flex-grow: 1;
        }

        .box2 {
            flex-grow: 2;
        }
    }
}

.content-box-horizontal {
    padding: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content-overlay-box {
    display: flex;
    margin: 8vh 0;
    
    img {
        object-fit: cover;
        width: 80%;
        height: auto;
    }

    .img-right {
        float: right;
        order: 2;
    }

    .paragraph-box {
        z-index: 1;
        margin: 6vh;
        height: 80%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: stretch;
    }

    

    .paragraph-left {
        margin-right: -350px;
        order: 1;
    }

    .paragraph-right {
        margin-left: -350px;
    }

    @media #{$mq-mobile} {

        flex-direction: column;
        margin: 6vh 0;

        img {
            object-fit: cover;
            width: 90%;
            height: auto;
        }

        .paragraph-box {  
            margin-top: -4vh;
            margin-left: 15px;
        }

        .img-left {
            order: 1;
        }

        .paragraph-left {
            margin-right: 0;
            order: 2;
        }

        .paragraph-right {
            // margin-left: 0;
            margin-right: 2px;
        }
        
    }
}

.download-items {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    align-items: flex-end;
    padding: 10px;
    overflow-x: hidden;

    p {
        overflow-x: hidden;
        margin-right: 5px;
    }
}

.filter-button {
    width: fit-content;

    // background: none;
    // padding: 1px 1px;
    margin: 2px 2px 0 0;

    @media #{$mq-small} {
        background: none;
        border: none;
        text-align: left;
        font-size: 14px;
    }
    // border: none;
    // text-align: left;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.icon-link {
    font-size: 2rem;
}


.link-container {
    display: flex;
    justify-content: center;
}

.link-box {
    margin: 5em 0;
    // padding: 2vw 3.22vw;
    background-color: #0B6BBF;
    min-width: 15vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media #{$mq-mobile} {
        width: 50vw;
        height: 15vh;
    }
}

.logo {
    max-height: 60px;
    width: auto;
    margin: 10px 10px;
}

.main {
    flex-grow: 1;
}



.mobile-button {
    width: 50px;
    // align-self: flex-end;
    // float: right;
    // margin: 10px;
}


.more-info-content-container {
    padding: 10px;
}

.more-info-item-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid grey;
}

.more-info-container {

    display: flex;

    @media #{$mq-mobile} {
        flex-direction: column;
    }

    @media #{$mq-small} {
        
        justify-content: space-between;
        align-items: stretch;
    }
    
}

.more-info-image-container {

    @media #{$mq-mobile} {
        width: 100%;
        max-height: 280px;
    }

    @media #{$mq-small} {
        width: 50vw;
        max-height: 400px;
        
    }
    // height: 100%;
    
    // flex-grow: 1;
    flex-basis: 100%;
}

.more-info-download-container {
    max-height: 225px;
    overflow-y: scroll;
}


.newsletter-banner {
    height: 75vh;
    background: url(../../images/42271125_m.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media #{$mq-mobile} {
        height: 100vh;   

        input {
            width: auto;
        }

        button {
            width: 50%;
        }
    }

    .paragraph-box {
        margin: 2vw;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media #{$mq-mobile} {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2vh
        }

        input {
            width: 50%;
            border: 1px solid grey;
            margin: 0px;
            border-radius: 0;
            margin: 2vh 0;

        }

    }

    button {
        font-family: 'CodeDemo-bold';
        font-size: inherit;
        background-color: #0B6BBF;
        border: none;
        color: white;
        height: 10vh;
        min-width: 15vw;
    }
    // background-cover: cover;
}


.paragraph-box {
    box-shadow: 10px 10px;
    padding: 2vw;
    margin: 2vh 2vw;

    // display: flex;
    // flex-direction: column;
    // align-items: center;

    form {
        // width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        min-width: 300px;        
    }
}

// p {
//     margin: 20px;
// }

.paragraph-box-horizontal {
    max-width: 400px;
    box-shadow: 10px 10px;
    padding: 2vw;
    margin: 2vh 0.25vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
    width: 100%;
    height: 40%;
    height: auto;
    object-fit: cover;
    }

    @media #{$mq-xlarge} {
        max-width: 500px;
    }

}

.profile-box {
    width: 500px;
    height: 600px;
    box-shadow: 10px 10px;
    padding: 2vw;
    margin: 2vh 0.25vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
    width: 100%;
    height: 40%;
    height: auto;
    object-fit: cover;
    }

    @media #{$mq-mobile} {
        width: 350px;
    }

}

.pitch-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    margin: 2vh 0;

    .tag1 {
        flex-basis: 175%;
        display: flex;
        justify-content: center;

        h1 {
            align-self: center;
        }
    }

    .tag2 {
        background-color: white;
        box-shadow: 10px 10px;
    }

    @media #{$mq-mobile} {
        flex-direction: column;
    }
}

.resource-page-items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @media #{$mq-mobile} {
        flex-direction: column;
        align-items: stretch;
    }
}


.resource-page-container {
    display: flex;
    flex-direction: column;
    // align-items: stretch;

    @media #{$mq-small} {
        flex-direction: row;
        // justify-content: space-between;
    }
}

.resource-page-filter-bar {
    display: flex;
    flex-direction: column;
    position: sticky;
    overflow-x: scroll;
    top: 150px;

    @media #{$mq-small} {
        display: none;
    }
}

.resource-page-filter-box {
    border-bottom: 2px solid #33333320;   
}

.resource-page-button-menu {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.resource-page-filters {
    display: none;
    padding: 10px;
    border-right: 2px solid #33333320; 
    background-color: #F6F5F4;
    @media #{$mq-small} {
        display: block;
        min-height: calc(100vh - 160px);
        width: 250px;
    }
}

.resource-page-filter {
    width: 200px;
    // padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.resource-page-search {
    display: flex;
    // justify-content: space-between;
    // align-items: stretch;
    background-color: #0B6BBF;
    position: static;
        justify-content: flex-start;
    
        input {
            width: 350px;
        }

        button {
            width: 75px;
        }
    
    @media #{$mq-small} {
        // background-color: #50514F;
        padding: 10px;
        height: 60px;
    }

    @media #{$mq-mobile} {
        height: 50px;
        padding: 5px;
        
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
            
    input {
        flex-grow: 2;
    }
    
    button {
        flex-grow: 1;
    }
       
    }
    
}



.resource-page {
    display: flex;
    flex-direction: column;
    // align-content: stretch;
    // justify-content: stretch;
    // flex-grow: 1;
    // height: 100%;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-grow: 1;
}

.site-content {
    // min-height: calc(100vh - 100px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.employee-blurb {
    visibility: hidden;
    transition: opacity 1s;
    opacity: 0;
    margin: 10px;
}

.employee-picture {
    visibility: visible;
    transition: opacity 1s;
    height: 100%;
    width: 100%;
    opacity: 1;
    max-height: 400px;
    margin: 10px;

}


















